gestionPedidos/__pycache__/admin.cpython-38.pyc
gestionPedidos/__pycache__/models.cpython-38.pyc
gestionPedidos/migrations/__pycache__/0002_auto_20200817_1213.cpython-38.pyc
gestionPedidos/__pycache__/admin.cpython-38.pyc
gestionPedidos/__pycache__/models.cpython-38.pyc
